
article.content-page {
    max-width: 980px;
    margin: 0 auto;

    a.button {
        border: 2px solid $black;
        color: $black;
        padding: 6px 13px 3px;
        font-family: $futura-bold;
        text-transform: uppercase;
        display: inline-block;
        transition: all 100ms ease;
        cursor: pointer;

        &:hover {
            background-color: $black;
            color: $white;
            text-decoration: none;
        }
    }

    h1, h2, h3, h4, h4, h6, p, ul, ol {
        max-width: 790px;
    }

    .aligncenter {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    h1 {
        font-family: $futura;
        letter-spacing: 0.03em;
        font-size: 2.8em;
        margin-bottom: 30px;
        margin-top: 0;

        em {
            font-family: $futura-i;
        }
    }

    h2 {
        font-family: $futura-bold;
        font-size: 1.45em;
        margin-bottom: 10px;
        margin-top: 30px;
    }

    h3 {
        font-family: $futura-demi;
        font-size: 1.2em;
        margin-bottom: 10px;
        margin-top: 30px;

        em {
            font-family: $futura-demi-i;
        }
    }

    h4 {
        font-family: $futura-bold;
        font-size: 1em;
        margin-top: 10px;
    }

    p {
        font-size: 1.15em;
        padding-bottom: 10px;

        strong {
            font-family: $futura-demi;
        }

        em {
            font-family: $futura-i;

            strong {
                font-family: $futura-demi-i;
            }
        }
    }

    li {
        font-size: 1.15em;
        padding-left: 5px;
        margin-left: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    & > ul {
        li {
            margin-bottom: 10px;

            ul {
                margin-bottom: 20px;
            }
        }
    }

    a {
        color: $red;
        text-decoration: none;

        &:hover {
            color: $red-dark;
            text-decoration: underline;
        }

        img:hover {
            opacity: 0.8;
        }
    }

    blockquote {
        margin: 20px 20px 20px 10px;
        font-family: $futura-i;
        border-left: 2px solid $gray1;
        padding-left: 15px;

        p:last-of-type {
            padding-bottom: 0;
        }
    }

    table {
        font-size: 1.15em;
        padding-bottom: 10px;

        tbody {

        }

        tr {

            td {
                padding: 3px 0 3px 10px;

                &:first-of-type {

                    padding-left: 0;

                }
            }
        }
    }

    iframe {
        max-width: 100%;
    }

    @media only screen and (max-width: 1050px) {
        padding: 0 20px;
    }

    @media only screen and (max-width: 640px) {
        padding: 0 15px;
    }
}