body > header {
    width: 100%;
    z-index: 1000;
    color: $black;
    font-family: $futura;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: $black;

    div {
        max-width: 1010px;
        height: 48px;
        margin: 0 auto;
        padding: 0 20px;

        & > ul {
            display: inline-block;
            width: 100%;

            li {
                display: inline-block;
                vertical-align: top;

                &:first-of-type {
                    padding-left: 17px;
                    margin-right: 10px;

                    a {
                        width: 38px;
                        height: 48px;
                        top: 0;
                        display: inline-block;
                        background-image: url('images/logo_simple.png');
                        background-position: left center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        text-indent: -9999px;
                        white-space: nowrap;
                        padding: 0;

                        &:hover {
                            background-color: transparent;
                            opacity: 0.7;
                        }

                        &:active {
                            background-color: transparent;
                        }
                    }
                }

                &:nth-of-type(2) {
                    a {
                    }
                }

                &:last-of-type {
                    float: right;
                    margin-right: 0px;
                }

                &.current-menu-item,
                &.current-page-ancestor,
                &.current-menu-ancestor {
                    a {
                        //font-family: $futura-bold;
                        //color: darken($gray1, 10);
                        color: lighten($gray2, 10);
                    }
                }

                ul {
                    display: none;
                }

                a {
                    color: $white;
                    text-decoration: none;
                    font-size: 1.25em;
                    display: block;
                    height: 100%;
                    padding: 2px 15px 0;
                    line-height: 46px;

                    &:hover {
                        background-color: lighten($black, 7);
                    }

                    &:active {
                        background-color: lighten($black, 20);
                    }
                }

                &#iahm a {
                    padding-left: 7px;
                    margin-left: 3px;

                }

                &#burger {
                    display: none;
                    width: 30px;
                    height: 25px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    background-image: url('../images/burger_white.png');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin: 12px 10px 0 0;

                    a:hover {
                        background-color: transparent;
                    }
                }
            }
        }


    }

    @media only screen and (max-width: 1000px) {
        z-index: 1001;
        div {

            ul {
                display: none;
                position: fixed;
                top: 0px;
                right: 0px;
                height: 100%;
                bottom: 0;
                max-width: 260px;
                width: 100%;
                background-color: $black;
                z-index: 300;
                padding-top: 48px;

                &.show {
                    display: block;

                    ul {
                        display: none;
                    }
                }

                li {
                    display: block;
                    margin: 0;

                    &:first-of-type {
                        display: none;
                    }

                    &:last-of-type {
                        float: inherit;
                    }

                }
            }

        }

        #simple_logo {
            display: block;
            width: 38px;
            height: 48px;
            position: absolute;
            left: 20px;
            top: 0;
            background-image: url('images/logo_simple.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin: 0;
            z-index: 1000;

            a:hover {
                background-color: transparent;
            }
        }

        #burger {
            display: block;
            width: 30px;
            height: 48px;
            position: absolute;
            right: 20px;
            top: 0;
            background-image: url('images/burger_white.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin: 0;
            z-index: 1000;

            a:hover {
                background-color: transparent;
            }
        }
    }

    @media only screen and (max-width: 640px) {

        #simple_logo {
            left: 10px;
        }

        #burger {
            right: 10px;
        }

        div {

            ul {
                right: 0;
                max-width: inherit;
                position: absolute;
                bottom: inherit;
                height: auto;

                li a {
                    padding-left: 10px;
                }
            }
        }
    }
}
