body.page-template-page_home {

    section#header_home {
        position: relative;
        background-color: black;

        h1 {
            width: 100%;
            color: $white;
            font-size: 1.8em;
            bottom: 10%;
            position: absolute;
            text-align: center;
            font-family: $futura-i;

            &.black {
                color: $gray2;
            }
        }

        a.image {
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            top: 32%;
            bottom: 33%;
            left: 15%;
            right: 15%;
        }

        a.slidesjs-navigation {
            top: 42px;
        }

        div#slides {
            height: 82vh;
            top: -41px;
            margin-bottom: -41px;

            .slidesjs-container,
            .slidesjs-control {
                height: 100% !important;
            }
        }
    }

    section#pub {
        width: 100%;
        overflow: scroll;
        display: table;
        position: relative;
        border-bottom: 3px solid $white;
        border-top: 2px solid $white;

        ul {

            li {
                display: inline-block;
                float: left;
                width: 25%;
                height: 18vh;
                margin-bottom: -5px;
                list-style-type: none;
                box-sizing: border-box;
                border-right: 3px solid $white;

                &:last-of-type {
                    border-right: none;
                }

                a {
                    height: 100%;
                    width: 100%;
                    display: block;
                    background-size: cover;
                    background-position: bottom center;
                    position: relative;
                    text-decoration: none;

                    .dark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        background-color: rgba(black, 0.1);
                    }

                    h1 {
                        color: $white;
                        text-align: center;
                        font-family: $futura-demi;
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        width: 90%;
                        left: 5%;
                        font-size: 1.6em;
                        line-height: 1.2em;
                        letter-spacing: 0.01em;
                    }
                }

            }
        }

    }

    @media only screen and (min-width: 1080px) {
        section#header_home {

            h1 {
                font-size: 2em;
            }

            a.image {
                top: 30%;
                bottom: 35%;
                left: 15%;
                right: 15%;
            }
        }
    }

    @media only screen and (min-width: 2000px) {
        section#header_home {
            a.image {
                top: 32%;
                bottom: 37%;
                left: 15%;
                right: 15%;
            }
        }

        section#pub {
            ul li a {

            }
        }
    }

    @media only screen and (max-width: 1300px) {

        section#header_home {

            h1 {
                font-size: 1.7em;
            }
        }

        section#pub {
            ul li a {

            }
        }
    }

    @media only screen and (max-width: 1080px) {

        section#pub {
            ul li a {

            }
        }
    }

    &[data-ratio="3"] {
        section#header_home {
            div#slides {

                height: 100vh;
            }
        }

        section#pub {
            ul li {

                height: 30vh;
            }
        }
    }

    &[data-ratio="2"] {
        section#header_home {
            div#slides {

                height: 98vh;
            }
        }

        section#pub {
            ul li {

                height: 24vh;
            }
        }
    }

    &[data-ratio="1.5"] {
        section#header_home {
            div#slides {

                height: 78vh;
            }
        }

        section#pub {
            ul li {

                height: 22vh;
            }
        }
    }

    &[data-ratio="1"] {
        section#header_home {
            div#slides {

                height: 80vh;
            }
        }

        section#pub {
            ul li {

                height: 20vh;

            }
        }
    }

    &[data-ratio="0.9"] {
        section#header_home {
            div#slides {

                height: 80vh;
            }
        }

        section#pub {
            ul li {

                height: 20vh;

            }
        }
    }

    &[data-ratio="0.8"] {
        section#header_home {
            div#slides {

                height: 86vh;
            }
        }

        section#pub {
            ul li {

                height: 14vh;

            }
        }
    }

    &[data-ratio="0.7"] {
        section#header_home {
            div#slides {

                height: 88vh;
            }
        }

        section#pub {
            ul li {

                height: 12vh;

            }
        }
    }

    &[data-ratio="0.6"] {
        section#header_home {
            div#slides {

                height: 88vh;
            }
        }

        section#pub {
            ul li {

                height: 12vh;

            }
        }
    }

    &[data-ratio="0.5"] {

    }

    @media only screen and (max-width: 800px) {
        section#header_home {
            div#slides {

                height: 72vh;
            }
        }

        &[data-ratio="5"],
        &[data-ratio="4"],
        &[data-ratio="3"],
        &[data-ratio="2"],
        &[data-ratio="1.5"],
        &[data-ratio="1"],
        &[data-ratio="0.9"] {
            section#header_home {
                div#slides {

                    height: 100vh;
                }
            }
        }

        &[data-ratio="5"],
        &[data-ratio="4"],
        &[data-ratio="3"],
        &[data-ratio="2"],
        &[data-ratio="1.5"],
        &[data-ratio="1"],
        &[data-ratio="0.9"],
        &[data-ratio="0.8"],
        &[data-ratio="0.7"],
        &[data-ratio="0.6"],
        &[data-ratio="0.5"] {

            section#pub {

                ul li {
                    width: 50%;
                    height: 0;
                    overflow: hidden;
                    margin-bottom: 0;
                    border-top: 2px solid $white;
                    border-right: none;
                    border-bottom: 2px solid $white;
                    border-left: none;
                    position: relative;
                    padding-bottom: 25.6%;

                    &:nth-of-type(1) {
                        border-right: 2px solid $white;
                    }

                    &:nth-of-type(2) {
                        border-left: 2px solid $white;
                    }

                    &:nth-of-type(3) {
                        border-right: 2px solid $white;
                    }

                    &:nth-of-type(4) {
                        border-left: 2px solid $white;
                    }

                    a {
                        position: absolute;
                    }

                }
            }
        }
    }

    @media only screen and (max-width: 540px) {

        section#header_home {

            a.image {
                left: 15%;
                right: 15%;
            }

            h1 {
                bottom: 6vh;
                font-size: 1.3em;
            }

        }

        section#pub {
            border-bottom: 2px solid $white;
            border-top: 2px solid $white;

            ul {
                li {
                    display: block;
                    float: inherit;
                    border-right: 0;
                    border-bottom: 4px solid $white;
                    border-top: 4px solid $white;

                    a {
                        position: relative;
                        margin: 0;

                    }
                }
            }
        }

        &[data-ratio="5"],
        &[data-ratio="4"],
        &[data-ratio="3"],
        &[data-ratio="2"],
        &[data-ratio="1.5"],
        &[data-ratio="1"],
        &[data-ratio="0.9"],
        &[data-ratio="0.8"],
        &[data-ratio="0.7"],
        &[data-ratio="0.6"],
        &[data-ratio="0.5"] {

            section#pub {
                ul li {
                    width: 100%;
                    height: inherit;
                    overflow: hidden;
                    box-sizing: border-box;
                    padding-bottom: 52.6%;

                    &:nth-of-type(1) {
                        border-right: none;
                    }

                    &:nth-of-type(2) {
                        border-left: none;
                    }

                    &:nth-of-type(3) {
                        border-right: none;
                    }

                    &:nth-of-type(4) {
                        border-left: none;
                    }
                }
            }
        }

    }

}





