main[data-template="live"] {



    section#other_videos {
        padding: 70px 0;
    }

    section#title {
        background-color: $gray_light;
        div.desc {
            padding: 50px 0;

            h1 {
                font-size: 2.6em;
                text-align: center;

            }

            h2 {
                font-family: $futura-bold;
                text-align: center;
                font-size: 1.3em;
            }

        }
    }

    section#speakers {
        section.speaker {
            max-width: 790px;
            margin: 0 auto;
        }
    }

    section#ask_pray,
    section#speakers,
    section#testimonies,
    section#testimony_fb,
    section#listOfEvents,
    section#follow {
        padding: 80px 0;

        article.content-page {

            h1 {
                text-align: center;
                max-width: inherit;
                margin-bottom: 50px;
            }
        }
    }

    section#ask_pray {
        background-color: $gray-light;

        div {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }

    section#follow {
        background-color: $gray_light;
    }

    section#follow {
        text-align: center;
    }

    section#testimony_fb {

        article.content-page {
            text-align: center;

            div {
                display: block;
                margin: 0 auto;
                text-align: center;
                margin-bottom: 30px;
            }

            a.button {
                margin-top: 20px;
            }
        }

    }
}
