.nf-form-cont {
    max-width: 790px;

    .nf-form-title {

    }

    .nf-form-wrap {

        .nf-form-layout {

            .nf-before-form-content {
                margin: 10px 0 20px;
                color: lighten($gray, 20);
            }

            .nf-form-content {

                .nf-mp-body {

                }
            }
        }

    }

    .nf-before-form-content div {
        font-size: 0.8em;
    }

    .label-above {
        .nf-field-label {
            margin-bottom: 5px;
        }
    }

    .ninja-forms-req-symbol,
    .nf-error-msg {
        color: $red;
        font-family: $futura-demi;
    }

    .nf-error-msg {
        font-size: 0.9em;
    }

    .nf-field-description {
        .hide {
            display: none;

        }
    }
}

.nf-multi-cell {
    div.nf-cell {
        padding: 0 2% 0 0;
    }
}

.nf-row {
    .nf-cell {

        .donation {
            .nf-field-label {
                width: auto;
            }

            .nf-field-element {
                width: 70px;

                input {
                    text-align: right;
                }
            }

            .nf-field-description {
                margin-left: 10px;
                width: auto;
                display: inline-block;
                line-height: 36px;

                span {
                    line-height: 100%;
                    margin: 0;
                    font-size: 1.2em;
                    font-family: $futura-demi;
                }
            }
        }

        .nf-field-container {
            label {
                font-family: $futura-demi;
                font-weight: normal;
                font-size: 0.9em;
                color: $gray;
            }

            .nf-field-label {
                padding-left: 0;
            }

            input,
            textarea {
                display: inline-block;
                outline: none;
                border: 1px solid lighten($gray, 30);
                padding: 4px;
                margin: 1px;
                font-size: 1em;

                &:focus {
                    border: 2px solid lighten($gray, 20);
                    margin: 0;
                }

                &[type="button"] {
                    border: 2px solid $black;
                    color: $black;
                    padding: 6px 13px 3px;
                    font-family: $futura-bold;
                    text-transform: uppercase;
                    display: inline-block;
                    transition: all 200ms ease;
                    background: transparent;
                    cursor: pointer;
                    outline: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;

                    &:hover {
                        background-color: $black;
                        color: $white;
                        text-decoration: none;
                    }
                }

                &[type="checkbox"] {
                    cursor: pointer;
                }
            }

            .listcheckbox-wrap,
            .listradio-wrap {
                ul li {
                    margin-right: 10px !important;

                    label {
                        font-family: $futura;
                        font-weight: normal;
                        text-transform: none;
                        font-size: 0.8em;
                        padding: 0;
                    }
                }
            }

        }
    }
}
